.front {
    height: 95vh;
    background-color: var(--color-grey-1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-testing {
    background-color: var(--color-grey-1);
    height: auto;
}